.button {
  background-color: #4CAF50;
  border: 8px #f6fff0;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin: 4px 2px;
  cursor: pointer
}

body {
background-image: url('images/tree.jpeg');
}

h1   {
color: #f6fff0;
text-align: center;
font-family: Verdana;
line-height: normal;
font-weight: 100;
}

h2   {
color: #f6fff0;
text-align: center;
font-family: Verdana;
line-height: normal;
font-weight: 100;
font-size: 18px
}

div.square {
  margin: auto;
  padding-bottom: auto;
  border: solid 10px #f6fff0;
  width: 450px;
  height: 120%;
}

.img {
  display: block;
  margin: auto;
    width: 260px;
    height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius:8px;
}
form {
	display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
button {
  margin: 10px;
}
#no {
    padding-left: 20px;
}
