
body{
    background-image: url(https://previews.123rf.com/images/rosinka/rosinka1606/rosinka160600001/60909379-vector-drawing-of-oak-.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 300px;
}
h3{
    text-align: center;
    color: green;
}
form {
    margin-top: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search{
    width:200px;
    font-size: 20px;
}
.submit{
    width:100px;
    margin-left:10px;
    font-size: 20px;
    background-color: lightgreen;
}