
body{
    background-image: url('mountain.jpeg');
    background-repeat: no-repeat;
    background-size: 1800px;
}
h3{
    text-align: center;
    font-family: Verdana;
    font-size: 70px;
    color: #daffdb;
    padding-bottom: 0px;
}
h2{
    text-align: center;
    font-family: Verdana;
    font-size: 30px;
    color: #daffdb;
}
div.square {
  margin: auto;
  padding-bottom: auto;
  border: solid 8px white;
  width: 98%;
  height: 110%;
}
form {
    margin-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.search{
    width:200px;
    font-size: 20px;
    color: black;
}
.submit{
    width:100px;
    margin-left:10px;
    font-size: 20px;
    background-color: white;
}
.submit2 {
    color: #daffdb;
    margin-left: 10px;
    font-size: 25px;
}
#redo {
    margin-top: 2px;
}
#scan {
    font-size: 30px;
}
.error {
  font-size: 20px;
  font-family: 'Verdana';
  color: white;
  text-align: center;
}
